body {

	font-family: helvetica, sans-serif;
	text-align: center;

}

/* Header of the page */
.main-header h1 {

	font-family: 'Sigmar One', cursive;
	color: #971765;
	font-size: 75px;
	position: relative;
	margin: 50px 0;
}

.main-header h3 {

	margin-bottom: 70px;
}


/* Navbar section */

.topnav{

	background: #E3DFE2;
	border: 1px solid #bfb6bd;
	margin-bottom: 0;

	}

.topnav ul {

position: absolute;
left:50%;
top:0;
margin-left:-375px; /* negative margin equal to half the width */
width:750px;

}

.topnav ul.navbar-nav li {

float:left;

}

.topnav ul.navbar-nav li a {

display:block;
text-align:center;
width:150px; /* fixed width */
color: #971765;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus
{
	color: #E3DFE2;
	background: #971765;


}

hr {

	border: 1px groove #cbc4c9;


}

.main-content{

	margin-bottom: 0;
}

/* Reservation section */

.reservations {

	/*border: 2px solid #ccc; */
	padding: 50px;
	font-size: 12px;

}

/* Choose a date field */

input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputReservation {
	height: 30px;
}

.reserv {
	height: 300px;
}

.box {
	border: 2px solid #ccc;
	padding: 10px;
	margin: 10px;
	background: #E3DFE2;

}

.table-box {

	height: 300px;
	overflow:hidden;
	overflow-y:scroll;

}

.table {
	text-align: left;

}




/* Header of Make Reservation and Existing Reservation*/
.details_reservation_mk.reserv {
	padding: 20px;
	margin: -15px;
}

.form_reservation {

	margin: 50px auto;

}

#name {

	width: 220px;
	margin-bottom: 20px;

}

#date {

	width: 120px;
	margin-bottom: 20px;

}

.time-reservation {
	margin-bottom: 20px;
}

#label {

	margin-right: 80px;
}


.reservation-button {

	margin: 10px auto;
	background-color: #242424;
	color: #f9fafc;
	width: 150px;
	height: 30px;
	font-size: 12px;

}

.delete{

	cursor: pointer;
}


/* Come Dine with Us section - Map */

#map{

	min-height: 50vh;
	width: 700px;
	text-align: center;
	display: block;
    margin-right: auto;
    margin-left: auto;

}

#main_map {

	clear: both;
	margin: 40px 0 50px;

}

@media(max-width: 767px){

	#map {

	width: 400px;
	}
}


/*Customer review section */

/*Comment box */

.review {
	/*border: 2px solid #ccc; */
	padding: 30px;

}



.review #comment {

	width: 500px;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 14px;
    margin: 20px auto;

}

.review #name_reviewer {

	width: 500px;
	border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 14px;



}

.review #reviews_answers {

	width: auto;
	border: 1px solid #ccc;
	margin-top: 20px;

}



.heading-style {
	padding-bottom: 5px;
}

.review p {

	text-align: left;
	padding-left: 15px;

}


.reviewsAnswers ul {

	list-style-type: none;
	padding-bottom: 5px;
	text-align: left;
	height: 400px;
	overflow:hidden;
	overflow-y:scroll;
	padding: 30px;

}

.list-template h4 {
	color: #0b79a7;
}

.list-template p {
	font-size: 14px;
	padding-bottom: 50px;
}

@media(max-width: 767px){

	.review #name_reviewer,
	 .review #comment {

		width: 300px;

	}

}


/* Label Contact Us section*/
label {

	font-size: 14px;

}

.contact input {

width: 300px;
margin: 8px auto;
padding: 10px;
font-size: 12px;


}

.contact #message{

	height: 200px;

}

.contact_format {

	margin-bottom: -25px;
	padding: 30px;
	/* border: 2px solid #ccc; */

}
 #contact_message {

 	height:200px;

 }

 /* Footer */

 .main-footer {

 	background: #E3DFE2;
	border: 1px solid #bfb6bd;

 }

 .footer-txt{

 	text-align: center;
 	padding: 15px;
 	color: #971765;
 	font-size: 12px;

 }
